@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  /* background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)); */
  /* background-image: url(/web-testing/src/assets/249547.jpg); */


.body1 {
  background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url(../src/assets/gambar1.jpg);
  background-position: auto;
}

.body2 {
  background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url(../src/assets/gambar3.jpg);
  background-position: center;
  background-size: cover;
}

.bodyMid {
  background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url(../src/assets/gambar8.jpg);
  background-position: center;
  background-size: cover;
  
}